= link_to 'Back', :back, class: 'btn btn-default'
- if can? :manage, @space
  = link_to 'Delete', @space, class: 'btn btn-danger', confirm: 'Are you sure?', method: :delete

h1 Editing '#{@space.name}'

= render 'form'
