= link_to 'Back', spaces_path, class: 'btn'
= link_to 'Edit', edit_space_path(@space), class: 'btn'

h1= @space.name
= markdown @space.description

h3 Traits
= bootstrap_will_paginate @traits
ul
  - @traits.each do |trait|
    li= link_to "#{trait.property}: #{trait.value}", trait
