h1= @property.name
p= Markdown.render(@property.description).html_safe

h3 Traits
= will_paginate @traits, renderer: BootstrapPagination::Rails
ul
  - @traits.each do |trait|
    li= link_to "#{trait.space}: #{trait.value}", trait