h1= @property.name
= markdown @property.description

h3 Traits
= bootstrap_will_paginate @traits
ul
  - @traits.each do |trait|
    li= link_to "#{trait.space}: #{trait.value}", trait

= link_to 'Edit', edit_property_path(@property)
'|
= link_to 'Back', properties_path
