/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require darkstrap
 *= require font-awesome
 *= require_tree .
 */
html, body { height: 100%; }

/* Sticky footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#wrap > .container {
  padding-top: 60px;
}

#push, footer {
  height: 60px;
  display: block;
}

.alert a {
  color: #fff;
  text-decoration: underline;
}

/* Proof explorer */
#proofs_pane {
  padding: 0;
  position: relative;
}

#proofs_pane .loading {
  position: absolute;
  top: 200px;
  left: 0;
  width: 920px;
  text-align: center;
}

#info_pane {
  height: 600px;
  width: 320px;
  position: absolute;
  top: 5;
  right: 0;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link, .arrowhead {
  stroke: #999;
  stroke-opacity: .6;
}

/* Trait table */
.uncontained {
  margin-top: 60px;
}

#trait-table {
  margin: 100px 12px 0;
}

#trait-table td, #trait-table a {
  width: 1.5em;
}

#trait-table .space a {
  width: 150px;
}

#trait-table .property a {
  display: block;
  white-space: nowrap;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  writing-mode: lr-tb;
}

#trait-table .true {
  color: #468847;
  text-shadow: 1px 1px #4a4a4a;
}

#trait-table .false {
  color: #b94a48;
  text-shadow: 1px 1px #4a4a4a;
}

/* Related trait tabs */
.nav > .disabled.header > a, .nav > .disabled.header > a:hover {
  font-size: 18px;
  color: #c6c6c6;
  font-weight: bold;
}

.tabbable .form-search {
  margin-bottom: 0;
}
