/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require darkstrap
 *= require_tree .
 */
html, body { height: 100%; }

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#wrap > .container {
  padding-top: 60px;
}

#push, footer {
  height: 60px;
  display: block;
}

#proofs_pane {
  padding: 0;
  position: relative;
}

#proofs_pane .loading {
  position: absolute;
  top: 200px;
  left: 0;
  width: 920px;
  text-align: center;
}

#info_pane {
  height: 600px;
  width: 320px;
  position: absolute;
  top: 5;
  right: 0;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
  fill: #1f77b4;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}