/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require darkstrap
 *= require font-awesome
 *= require_tree .
 */
html, body { height: 100%; }

/* Sticky footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#wrap > .container {
  padding-top: 60px;
}

#push, footer {
  margin-top: 30px;
  height: 60px;
  display: block;
}

.alert a {
  color: #fff;
  text-decoration: underline;
}

/* Proof explorer */
#proofs_pane .row > div {
  margin: 0;
}

#proofs_pane .loading {
  text-align: center;
}

#info_pane {
  height: 100%;
  padding-bottom: 1em;
  overflow: hidden;
}

#info_pane svg {
  height: 76px;
}

#info_pane svg text {
  fill: #c6c6c6;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link, .arrowhead {
  stroke: #999;
  stroke-opacity: .6;
}

/* Trait table */
 .uncontained {
  margin-top: 60px;
  padding: 0 3%;
}

.dataTables_scrollHead table {
  margin-bottom: 0;
}

.dataTables_scrollHead table td {
  vertical-align: bottom;
}

#trait-table {
  width: 94%;
}

#table-filter-box {
  float: right;
}

/* #trait-table td, #trait-table a {
  width: 1.5em;
}

#trait-table .space a {
  width: 150px;
}

.dataTables_scrollHead .property a {
  display: block;
  white-space: nowrap;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  writing-mode: lr-tb;
} */

#trait-table .true {
  color: #468847;
  text-shadow: 1px 1px #4a4a4a;
}

#trait-table .false {
  color: #b94a48;
  text-shadow: 1px 1px #4a4a4a;
}

/* Related trait tabs */
.nav > .disabled.header > a, .nav > .disabled.header > a:hover {
  font-size: 18px;
  color: #c6c6c6;
  font-weight: bold;
}

.tabbable .form-search {
  margin-bottom: 0;
}

/* Revision list */
#revisions .description > td {
  padding-bottom: 2em;
}

ins.differ {
  color: #468847;
}

del.differ {
  color: #b94a48;
}