h1 FAQ

.alert.alert-info
  p I actually haven't gotten all that many questions yet, so there's a good chance yours isn't on this list. If not, #{link_to 'email me', 'mailto:jamesdabbs+brubeck@gmail.com'} and I'll be glad to help.

h3 Can I get a copy of the data?
p Sure. One of the #{link_to 'planned features', 'https://github.com/jamesdabbs/brubeck/issues'} is to include an API for getting what you want yourself, but until then, just #{link_to 'shoot me an email', 'mailto:jamesdabbs+brubeck@gmail.com'} telling me what you need and what you're planning on using it for.

h3 What does "Regular" mean?
p I was loathe to have to choose sides in this old debate, but I had to come down on one side of the fence. On this site, separation axioms are defined the way I learned them, e.g. such that \(T_{n+1} \implies T_n\) for \(n=0 \dots 4\).

h3 Which axioms are you assuming?
p There are #{link_to 'long term plans', 'https://github.com/jamesdabbs/brubeck/issues/16'} to support other important models, but for now ZFC is assumed throughout.

h3 What if I spot an error?
p Any user can edit the text description of an object or proof; if you spot an error there (or just want to improve the existing text), feel free to sign up and make the changes yourself.

p Because traits in the database are so strongly interconnected, only admins can alter the truthiness of a trait. If you spot a trait with an erroneous value, please #{link_to 'contact me', 'mailto:jamesdabbs+brubeck@gmail.com'} so that I can correct it.

p If you're comparing the data on this site to the table from Counterexamples in Topology, you should note a few #{link_to 'errata', errata_path}.